<div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="histories?.length === 0">
        <span>No histories found</span>
    </div>
    <div class="table-responsive" *ngIf="histories?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Bought Amount</span></th>
            <th><span>Bought Currency</span></th>
            <th><span>Sold Amount</span></th>
            <th><span>Sold Currency</span></th>
            <th><span>Transaction Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let history of histories ;trackBy: trackId">
                <td>{{history.boughtAmount}}</td>
                <td>{{history.boughtCurrency}}</td>
                <td>{{history.soldAmount}}</td>
                <td>{{history.soldCurrency}}</td>
                <td>{{history.transactionDate | date:'medium'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
