<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="history">
            <h2><span>History</span> {{history.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Bought Currency</span></dt>
                <dd>
                    <span>{{history.boughtCurrency}}</span>
                </dd>
                <dt><span>Sold Currency</span></dt>
                <dd>
                    <span>{{history.soldCurrency}}</span>
                </dd>
                <dt><span>Bought Amount</span></dt>
                <dd>
                    <span>{{history.boughtAmount}}</span>
                </dd>
                <dt><span>Sold Amount</span></dt>
                <dd>
                    <span>{{history.soldAmount}}</span>
                </dd>
                <dt><span>Transaction Date</span></dt>
                <dd>
                    <span>{{history.transactionDate}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{history.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/history', history.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
