<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-history-heading">Create or edit a History</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_boughtCurrency">Bought Currency</label>
                    <input type="text" class="form-control" name="boughtCurrency" id="field_boughtCurrency"
                           formControlName="boughtCurrency"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_soldCurrency">Sold Currency</label>
                    <input type="text" class="form-control" name="soldCurrency" id="field_soldCurrency"
                           formControlName="soldCurrency"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_boughtAmount">Bought Amount</label>
                    <input type="number" class="form-control" name="boughtAmount" id="field_boughtAmount"
                           formControlName="boughtAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_soldAmount">Sold Amount</label>
                    <input type="number" class="form-control" name="soldAmount" id="field_soldAmount"
                           formControlName="soldAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionDate">Transaction Date</label>
                    <div class="d-flex">
                        <input id="field_transactionDate" type="datetime-local" class="form-control" name="transactionDate" formControlName="transactionDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
