<div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="wallets?.length === 0">
        <span>No wallets found</span>
    </div>
    <div class="table-responsive" *ngIf="wallets?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Amount</span></th>
            <th><span>Currency</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let wallet of wallets ;trackBy: trackId">
                <td><a [routerLink]="['/wallet', wallet.id, 'view' ]">{{wallet.id}}</a></td>
                <td>{{wallet.amount}}</td>
                <td>
                    <div *ngIf="wallet.currencyId">
                        <a [routerLink]="['../currency', wallet.currencyId , 'view' ]" >{{wallet.currencyCode}}</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
